{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'About' %}{% endblock title %} 
{% block content %}
    {% include 'global/partials/messages.html' %}
    <div class="main-content main-content-list container">
        <div class="row">
            <div class="col-12 mb-4">
                <h1>{% translate "Welcome to OdontoDj!" %}</h1>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <img src="{% get_static_prefix %}global/img/od_logo.png" alt="Logo" class="img-fluid">
            </div>
            <div class="col-12 col-md-10">
                <ul class="list-unstyled">
                    {% for text in about_text %}
                        <li class="mb-3">
                            <h3>{{ text }}</h3>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}
