{% extends 'global/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% translate 'Home' %}{% endblock title %} 
{% block content %}
    {% include 'global/partials/messages.html' %}
    <div class="main-content main-content-list container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h2 class="mb-4">{% translate 'Welcome to OdontoDj!' %}</h2>
                <p>
                    {% translate "We look forward<br> to helping you<br> achieve a healthy,<br> beautiful smile!<br>" %}
                </p>
                <a href="{% url 'schedule:schedule' %}" class="btn btn-primary mt-3">{% translate "Schedule an appointment right now." %}</a>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="{% get_static_prefix %}global/img/img2.jpg" alt="img2">
            </div>
        </div>
    </div>
{% endblock content %}
